# ================================= #
#         DATABASE SETTINGS         #
# ================================= #
# Настройки для подключения API к базе данных SQL Server.
DataBaseConnectionSettings__Host=db
DataBaseConnectionSettings__Port=1433
DataBaseConnectionSettings__Database=ProjectManagerDB
DataBaseConnectionSettings__Username=sa
# Укажите надежный пароль для пользователя 'sa'.
DataBaseConnectionSettings__Password=

# Этот пароль используется сервисом 'db' в docker-compose для инициализации контейнера SQL Server.
# Он ДОЛЖЕН совпадать с DataBaseConnectionSettings__Password выше.
SA_PASSWORD=

# ================================= #
#           JWT SETTINGS            #
# ================================= #
# Используется для подписи и проверки JWT токенов.
# Сгенерируйте длинный, случайный и надежный секретный ключ.
JwtSettings__SecretKey=
JwtSettings__Issuer=ProjectManagerApi
JwtSettings__Audience=ProjectManagerClient

# ================================= #
#        ASPNETCORE SETTINGS        #
# ================================= #
# Устанавливает среду хостинга. (Development/Production)
ASPNETCORE_ENVIRONMENT=Development
# URL, который API будет слушать внутри контейнера.
ASPNETCORE_URLS=http://+:8080

# ================================= #
#           CLIENT SETTINGS         #
# ================================= #
# URL-адрес бэкенд API, к которому будет подключаться фронтенд (Vite).
VITE_API_URL=http://localhost:8080
